<div class="col-lg-1 col-xl-1 show-on-desktop sticky" id="fennec-navbarside2" style="display:none;">
  <div class="col-push-12 not-a action-menu-buttons sticky-top sticky-offset">
    <ul class="pages-and-files">
        <li>
          <i class="fal fa-plus-square menu-side-plus" data-placement="right" data-toggle="tooltip" title="יצירת פריט" id="create_toggle2"></i>
        </li>
        <li>
          <i class="fal fa-paperclip menu-btn-share " data-placement="right" data-toggle="tooltip" title="ניהול קבצים" id="files_toggle"></i>
        </li>
    </ul>
    <ul class="edit-tools">
        <li>
          <a id="ca-edit" href="?{{advanced_edit}}" class="f-veedit" id="f-editform"><i class="fal fa-edit menu-btn-create" data-placement="right" data-toggle="tooltip" title="עריכת הפריט"></i></a>
        </li>

        <li>
          <a href="?action=edit" id="f-edit"><i class="fal fa-code menu-btn-code " data-placement="right" data-toggle="tooltip" title="עריכת קוד"></i> </a>
        </li>
        <li class="d-none">
          <a href="?veaction=edit" class="f-veedit" id="ca-ve-edit"><i class="fal fa-pencil-alt menu-btn-code " data-placement="right" data-toggle="tooltip" title="עריכה ויזואלית"></i> </a>
        </li>
        <li>
          <i class="fal fa-i-cursor" id="rename_item" data-placement="right" data-toggle="tooltip" title="שינוי שם הפריט">א</i>
        </li>
        <li>
          <i class="fal fa-tags " data-placement="right" data-toggle="tooltip" title="ניהול קטגוריות הפריט" id="menu-btn-tags"></i>
        </li>
    </ul>
    <ul class="page-actions">
        <li>
          <a><i class="fal fa-trash-alt menu-btn-trash" id="deletePage" data-placement="right" data-toggle="tooltip" title="מחיקת הפריט"></i></a>
        </li>
        <li>
            <a href="?action=purge" id="f-purge"><i data-placement="right" data-toggle="tooltip" title="ניקוי מטמון" class="fal fa-sync" id="menu-btn-refresh"></i></a>
        </li>
        <li>
          <a href="?action=history" id="f-history"><i class="fal fa-history" data-placement="right" data-toggle="tooltip" title="ניהול גירסאות" id="menu-btn-over-clock"></i></a>
    </ul>
    <ul class="admin-actions">
          <li>
            <i class="fal fa-cog " data-placement="right" data-toggle="tooltip" title="הגדרות" id="icon-set"></i>
          </il>
    </ul>
  </div>
</div>