<div class="col-lg-1 col-xl-1 show-on-desktop sticky" id="fennec-navbarside2" style="display:none;">
  <div class="col-push-12 not-a action-menu-buttons sticky-top sticky-offset">
    <ul class="pages-and-files">
        <li>

          <i class="{{font_type}} fa-plus-square menu-side-plus" data-placement="right" data-toggle="tooltip" title="יצירת פריט" id="create_toggle2"></i>
        </li>
        <li>
          <i class="{{font_type}} fa-paperclip menu-btn-share " data-placement="right" data-toggle="tooltip" title="ניהול קבצים" id="files_toggle"></i>
        </li>
    </ul>
    <ul class="edit-tools">
        <li>
          <a id="ca-edit" href="{{advanced_edit}}" class="f-veedit" id="f-editform"><i class="{{font_type}} fa-edit menu-btn-create" data-placement="right" data-toggle="tooltip" title="עריכת הפריט"></i></a>
        </li>

        <li>
          <a href="{{edit_url}}" id="f-edit"><i class="{{font_type}} fa-code menu-btn-code " data-placement="right" data-toggle="tooltip" title="עריכת קוד"></i> </a>
        </li>
        <li class="d-none">
          <a href="{{vedit_url}}" class="f-veedit" id="ca-ve-edit"><i class="{{font_type}} fa-pencil-alt menu-btn-code " data-placement="right" data-toggle="tooltip" title="עריכה ויזואלית"></i> </a>
        </li>
        <li>
          <i class="{{font_type}} fa-i-cursor" id="rename_item" data-placement="right" data-toggle="tooltip" title="שינוי שם הפריט">א</i>
        </li>
        <li>
          <i class="{{font_type}} fa-tags" data-placement="right" data-toggle="tooltip" title="ניהול קטגוריות הפריט" id="menu-btn-tags"></i>

        </li>
    </ul>
    <ul class="page-actions">
        <li>

          <a><i class="{{font_type}} fa-trash-alt menu-btn-trash" id="deletePage" data-placement="right" data-toggle="tooltip" title="מחיקת הפריט"></i></a>
        </li>
        <li>
            <a href="{{purge_url}}" id="f-purge"><i data-placement="right" data-toggle="tooltip" title="ניקוי מטמון" class="{{font_type}} fa-sync" id="menu-btn-refresh"></i></a>
        </li>
        <li>
          <a href="{{history_url}}" id="f-history"><i class="{{font_type}} fa-history" data-placement="right" data-toggle="tooltip" title="ניהול גירסאות" id="menu-btn-over-clock"></i></a>
    </ul>
    <ul class="admin-actions">
          <li>
            <i class="{{font_type}} fa-cog " data-placement="right" data-toggle="tooltip" title="הגדרות" id="icon-set"></i>
          </il>
    </ul>
  </div>
</div>