<div class="col-lg-1 col-xl-1 show-on-desktop sticky" id="fennec-navbarside2" style="display:none;">
  <div class="col-push-12 not-a action-menu-buttons">
    <ul class="pages-and-files">
        <li>

          <i class="{{font_type}} fa-plus-square menu-side-plus" data-placement="right" data-toggle="tooltip" title="{{item_create_label}}" id="create_toggle2"></i>
        </li>
        <li>
          <i class="{{font_type}} fa-paperclip menu-btn-share " data-placement="right" data-toggle="tooltip" title="{{item_files_label}}" id="files_toggle"></i>
        </li>
    </ul>
    <ul class="edit-tools">
        <li>
          <a id="ca-edit" href="{{advanced_edit}}" class="f-veedit" id="f-editform"><i class="{{font_type}} fa-edit menu-btn-create" data-placement="right" data-toggle="tooltip" title="{{item_edit_label}}"></i></a>
        </li>

        <li>
          <a href="{{edit_url}}" id="f-edit"><i class="{{font_type}} fa-code menu-btn-code " data-placement="right" data-toggle="tooltip" title="{{item_code_edit_label}}"></i> </a>
        </li>
        <li>
          <i class="{{font_type}} fa-i-cursor" id="rename_item" data-placement="right" data-toggle="tooltip" title="{{item_rename_label}}">{{item_alef_label}}</i>
        </li>
        <li>
          <i class="{{font_type}} fa-tags" data-placement="right" data-toggle="tooltip" title="{{item_categories_label}}" id="menu-btn-tags"></i>

        </li>
    </ul>
    <ul class="page-actions">
        <li>

          <a><i class="{{font_type}} fa-trash-alt menu-btn-trash" id="deletePage" data-placement="right" data-toggle="tooltip" title="{{item_delete_label}}"></i></a>
        </li>
        <li>
            <a href="{{purge_url}}" id="f-purge"><i data-placement="right" data-toggle="tooltip" title="{{item_cache_label}}" class="{{font_type}} fa-sync" id="menu-btn-refresh"></i></a>
        </li>
        <li>
          <a href="{{history_url}}" id="f-history"><i class="{{font_type}} fa-history" data-placement="right" data-toggle="tooltip" title="{{item_history_label}}" id="menu-btn-over-clock"></i></a>
    </ul>
    <ul class="admin-actions">
          <li>
            <a href="{{settings_url}}"><i class="{{font_type}} fa-cog " data-placement="right" data-toggle="tooltip" title="{{item_configuration_label}}" id="icon-set"></i></a>
          </il>
    </ul>
  </div>
</div>